ul, ol {
    list-style: none;
}

.taskElements {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    text-shadow: coral 2px 5px 2px 5px;
}
.list_wrapper {
    /*border: 1px solid crimson;*/
    font-family: Ubuntu;
    font-size: 18px;
}
.task_element {
    border: 1px solid darkred;
}
