.item_wrapper {
    /*border: 1px solid yellowgreen;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.task_wrapper {
    border: 1px solid blanchedalmond;
    border-radius: 2px 2px 2px 4px;
    box-shadow: 4px 2px 2px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 20px 0 10px 0;
    padding: 0 10px;
}
.task_wrapper:hover {
    background-color: blanchedalmond;
    color: #161616;
}
.buttons {
    /*border: 1px solid olivedrab;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit_button {
    border: none;
}
.edit-img {
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.delete-img {
    margin: 0 0 0 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}