.main{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_title {
    text-align: center;
    color: red;
    text-shadow: 2px 2px 2px gray;
}
.todoinput_wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row;
}
